<div class="wrapper">
    <app-navbar-jf></app-navbar-jf>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Departamento
            <small> de Finanzas</small>
        </h1>
        <ol class="breadcrumb">
            <li><a [routerLink]="['/home']"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">Informe de acreditaciones</li>
        </ol>
    </section>
  <div *ngIf="MessageInformeAprobado == true" class="pad no-print">
      <div class="callout callout-success">
          <h4><i class="icon fa fa-check"></i> El informe fue aprobado</h4>
          <p>Al aprobar se encuentra listo para acreditar el saldo al estudiante.</p>
      </div>
  </div>
  <div *ngIf="MessageDescuento == true" class="pad no-print">
    <div class="callout callout-success">
        <h4><i class="icon fa fa-check"></i> El descuento se realizo satisfactoriamente.</h4>
    </div>
</div>
  <!-- Modal -->
  <div class="modal fade" id="modal-informacionStudiante">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Mas información...</h4>
            </div>
            <div class="infoConvenio modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="box-profile">
                            <img class="profile-user-img img-responsive img-circle" src="assets/img/avatar.png" alt="User profile picture">
                            <p class="text-muted text-center">650004813</p>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="box-header with-border">
                            <h3 class="modal-name"><strong>{{ nombreCompleto }}</strong> </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h6 class="page-header">DATOS PERSONALES</h6>
                        <div class="col-md-5">
                            <p><strong><i class="fa fa-credit-card margin-r-5"></i> Carnet de Identidad:</strong></p>                                        
                            <p><strong><i class="fa fa-flag-checkered margin-r-5"></i> Nacionalidad:</strong></p>
                            <p><strong><i class="fa fa-map-marker margin-r-5"></i> Dirección:</strong></p>
                            <p><strong><i class="fa fa-calendar margin-r-5"></i> Fecha nacimiento:</strong></p>
                            <p><strong><i class="fa fa-phone margin-r-5"></i> Celular:</strong></p>
                            <p><strong><i class="fa fa-dot-circle-o margin-r-5"></i> Estado de registro:</strong></p>
                        </div>
                        <div class="col-md-7">
                            <p>{{ ci }}</p>   
                            <p>{{ nacionalidad }}</p>
                            <p>{{ direccion }}</p>
                            <p>{{ fechaNacimiento | date: 'dd/MM/yyyy' }}</p>
                            <p>{{ celular }}</p>
                            <p>{{ estadoPersona | estado}}</p>
                        </div>
                </div>
                <div class="row">
                    <h6 class="page-header">DATOS DEL CONVENIO</h6>
                        <div class="col-md-5">
                            <p *ngIf="carrera"><strong><i class="fa fa-book margin-r-5"></i> Carrera:</strong></p>
                            <p *ngIf="semestre"><strong><i class="fa fa-star margin-r-5"></i> Semestre:</strong></p>
                            <p><strong><i class="fa fa-building margin-r-5"></i> Departamento:</strong></p>
                            <p><strong><i class="fa fa-wrench margin-r-5"></i> Area de trabajo:</strong></p>
                            <p><strong><i class="fa fa-tag margin-r-5"></i> Beca:</strong></p>
                            <p><strong><i class="fa fa-calendar margin-r-5"></i> Fecha inicio:</strong></p>
                            <p><strong><i class="fa fa-calendar margin-r-5"></i> Fecha final:</strong></p>
                            <p><strong><i class="fa fa-file margin-r-5"></i> Fotocopia de carnet:</strong></p>
                            <p><strong><i class="fa fa-file-text margin-r-5"></i> Solicitud de trabajo:</strong></p>
                            <p><strong><i class="fa fa-dot-circle-o margin-r-5"></i> Estado del convenio:</strong></p>
                        </div>
                        <div class="col-md-7">
                            <p *ngIf="carrera">{{ carrera }}</p>
                            <p *ngIf="semestre">{{ semestre }}</p>
                            <p>{{ nombreDepartamento }}</p>
                            <div *ngIf="areas.length == 0" class="container-area">
                                <p>Sin asiganción de área</p>                                
                            </div>
                            <div *ngIf="areas.length > 0" class="container-area">
                                <p *ngFor="let area of areas; let i = index" class="areas">
                                    {{ area }} &nbsp;-&nbsp;
                                </p>                                
                            </div>
                            <p>{{ beca }}</p>
                            <p>{{ fechaInicio | date: 'dd/MM/yyyy'}}</p>
                            <p>{{ fechaFinal | date: 'dd/MM/yyyy'}}</p>
                            <p>{{ fotocopiaCI | boleano }}</p>
                            <p>{{ solicitudWork | boleano }}</p>
                            <p>{{ estadoConvenio | estado }}</p>
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
  </div>
  <div class="modal fade" id="modal-descuento">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Descuento</h4>
            </div>
  
        <div class="modal-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="box-profile">
                        <img class="profile-user-img img-responsive img-circle" src="assets/img/avatar.png" alt="User profile picture">
                        <p class="text-muted text-center">{{ codEstudiante }}</p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="box-header">
                        <h3 class="modal-name"><strong>{{ nombreCompleto }}</strong> </h3>                         
                    </div>
                </div>                
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                    <label><i class="fa fa-money margin-r-5"></i> Saldo:</label>
                    <div class="input-group col-md-12">
                        <input [(ngModel)]="inputSaldo" name="inputSaldo" type="text" class="form-control" placeholder="00.00 Bs" disabled>
                    </div>                  
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                    <label><i class="fa fa-money margin-r-5"></i> Descontar:</label>
                    <div class="input-group col-md-12">
                        <input (keyup)="descontarSaldo()" [(ngModel)]="inputDescontar" name="inputDescontar" type="text" class="form-control" placeholder="00.00 Bs">
                    </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                    <label><i class="fa fa-money margin-r-5"></i> Total saldo:</label>
                    <div class="input-group col-md-12">
                        <input [(ngModel)]="acreedor.montoBs" name="acreedor.montoBs" type="text" class="form-control" placeholder="00.00 Bs." disabled>
                    </div> 
                    </div>                     
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Observación</label>
                    <textarea [(ngModel)]="descuento.observacion" name="descuento.observacion" class="form-control" rows="3" placeholder="obsevaciones ..."></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer text-center footer-descuento">
            <div class="col-md-6">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-danger"><i class="fa fa-close"></i> Cancelar</button>
            </div>
            <div class="col-md-6">
                <button (click)="confirmarDescuento()" type="button" data-dismiss="modal" aria-label="Close" class="btn btn-success"><i class="fa fa-save"></i> Acreditar</button>
            </div>
        </div>
    </div>
</div>
  </div>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                    <h4>Iniciar</h4>        
                    <h4>nueva gestión</h4>
                    </div>
                    <div class="icon">
                    <i class="ion ion-calendar"></i>
                    </div>
                    <a href="#" class="small-box-footer"><i class="fa fa-check-circle"></i> Aceptar</a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-green">
                    <div class="inner">
                    <h4>Ver salos</h4>        
                    <h4>pendientes</h4>
                    </div>
                    <div class="icon">
                    <i class="ion ion-cash"></i>
                    </div>
                    <a href="#" class="small-box-footer"><i class="fa fa-arrow-circle-right"></i> Ver mas</a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                    <h4>Historial</h4>        
                    <h4>descuentos</h4>
                    </div>
                    <div class="icon">
                    <i class="ion ion-archive"></i>
                    </div>
                    <a href="#" class="small-box-footer"><i class="fa fa-arrow-circle-right"></i> Ver mas</a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-default">
                    <div class="inner">
                    <h4>65</h4>        
                    <h4>Areditaciones</h4>
                    </div>
                    <div class="icon">
                    <i class="ion ion-person"></i>
                    </div>
                    <a class="small-box-footer"><i class="fa"></i></a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h4 class="page-header"><i class="fa a-clone"></i> Lista de saldos de los estudiantes de todos los departamentos</h4>
  
                        <div class="btn-opciones box-tools pull-right">
                          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                          </button>                          
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <p>Lista de saldos totales de los estudiantes que trabajan en la Universidad</p>                     
                            <div class="table-responsive pad">
                                <table class="table table-bordered table-hover ">
                                    <tr class="fila-tabla">
                                        <th style="width: 10px">#</th>
                                        <th class="text-center">Cod.</th>
                                        <th>Nombre completo</th>
                                        <th>Departamento</th>
                                        <th>Fecha</th>
                                        <th>Saldo total</th>
                                        <th class="text-center" style="width: 20%px">Opciones</th>
                                    </tr>
                                    <tr *ngFor="let informe of acreedores; let i = index">
                                        <td>{{i+1}}.</td>
                                        <td class="text-center">{{informe.codEstudiante}}</td>
                                        <td>{{informe.primerApellido}} {{informe.segundoApellido}} {{informe.primerNombre}}  {{informe.segundoNombre}}</td>
                                        <td>{{informe.departamento}}</td>
                                        <td>{{informe.fechaAsignado | date: 'dd/MM/yyyy' }}</td>
                                        <td class="text-center">{{informe.montoBs}} Bs.</td>
                                        <td class="text-center">
                                            <a (click)="infoFullName(informe.idPersona);aprobarDescuento(informe.idAcreedor, informe.montoBs, informe.idInformeEstudiante, informe.idConvenio)" data-toggle="modal" data-target="#modal-descuento"  class="btn btn-success btn-margin" title="Descontar"><i class="fa fa-toggle-down"></i></a>
                                            <a (click)="informacionEstudiante(informe.idPersona)" data-toggle="modal" data-target="#modal-informacionStudiante"  class="btn btn-primary btn-margin" title="Ver"><i class="fa fa-eye"></i></a>
                                            <a (click)="verAcreedorHistorial(informe.idConvenio)" class="btn btn-info btn-margin" title="Mas información"><i class="fa fa-plus"></i></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<app-footer></app-footer> 
</div>
<!-- /.content-wrapper -->
  