.btn-opciones{
    margin-top: 0.5%;
    margin-right: 2%;
}

.modal-name {
    margin-top: 5%;
}

.modal-body {
    background: #ECF0F5;
    padding-left: 8%;
}
.info-observaciones{
    margin-top: 1.5%;
    padding-top: 1%;
    background: rgb(245, 247, 181);
    margin-right: 2%;
}

.modal-footer {
    background: #ECF0F5;
}

.modal-footer-register {
    padding: 1% 7% 4% 8%;
}

.form-register{
    margin: 0 5% 0 0;  
}
.container-area{
    margin-bottom: 2.5%;
}

.areas{
    display: inline;
}