.login-logo{
    background: #fff;
    margin: 0%;
    padding-top: 5%;
}

.login-box-body{
    margin-bottom: 7%;
}

.img-login{
    height: 60%;
    width: 60%;
    display: block;
    margin: auto;
}
.login-box-msg{
    font-size: 125%;
    color: rgb(52, 119, 158);
}

.login-box-body{
    padding-top: 0;
}

.opciones-login{
    margin-top: 7%;
    margin-bottom: 7%;
}
.btn{
    float: right;
}
.ico-success{
    color: #00a65a;
}

.ico-error{
    color: #dd4b39;
}

.help-block{
    font-size: 80%;
}
#growls-default {
    top: 10px;
}