<div class="wrapper">
  <app-navbar-jf></app-navbar-jf>
  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
      <h1>
          Departamento
          <small> Limpieza</small>
      </h1>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/home']"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Información del departamento</li>
    </ol>
  </section>
  <section class="content">
      <div class="box box-primary">
          <div class="box-header">

            <h4 class="page-header"><i class="fa fa-list-ul"></i>  Historial</h4>
            <div class="box-tools left" style="padding-top: 0.6%">
                <div class="input-group input-group-sm" style="width: 300px;">
                    <input (keyup)="searchDepartamento(buscarEstudiante.value)" #buscarEstudiante type="text" name="buscarName" class="form-control pull-right" placeholder="Buscar fecha">
  
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
              <div class="table-responsive pad">
                  <table class="table table-bordered table-hover">
                      <tr class="fila-tabla">
                          <th style="width: 5px">#</th>
                          <th style="width: 12%" class="text-center">Fecha de inicio</th>
                          <th style="width: 12%" class="text-center">Fecha final</th>

                          <th class="text-center">Estado</th>
                          <th style="width: 15%" class="text-center">Opciones</th>
                      </tr>
                      <tr *ngFor="let convenio of convenios; let i = index">
                          <td class="text-center">{{ i+1 }}.</td>
                          <td>{{ convenio.fechaInicio | fecha : 1 }}</td>
                          <td>{{ convenio.fechaFinal | fecha : 1}}</td>
                          <td class="text-center">
                              <a *ngIf="convenio.estadoConvenio == true"  (click)="editEstadoConvenio(convenio.idConvenio, '0')" class="btn btn-danger btn-margin btn-xs" data-toggle="tooltip" data-placement="right" title="Deshabilitar"><i class="fa fa-close"></i></a>
                              <a *ngIf="convenio.estadoConvenio == false" (click)="editEstadoConvenio(convenio.idConvenio, '1')" class="btn btn-success btn-margin btn-xs" data-toggle="tooltip" data-placement="right" title="Habilitar"><i class="fa fa-check"></i></a>
                          </td>
                          <td class="text-center">
                              <a (click)="informacionEstudiante(convenio.idPersona)" data-toggle="modal" class="btn btn-primary btn-margin btn-xs" data-target="#modal-informacion" title="Ver"><i class="fa fa-eye"></i></a>
                              <a (click)="searchPutConvenio(convenio.idPersona, convenio.idConvenio)" data-toggle="modal" data-target="#modal-editar" class="btn btn-default btn-margin btn-xs" title="Editar"><i class="fa fa-edit"></i></a>
                              <a (click)="deleteConvenio(convenio.idConvenio)" data-toggle="modal" data-target="#modal-eliminar" class="btn btn-danger btn-margin btn-xs" title="Eliminar"><i class="fa fa-trash"></i></a>
                          </td>
                      </tr>
                  </table>
              </div>
          </div>
          <!-- /.box-body -->
        </div>
    <!-- /.row -->
</section>
</div>
<!-- /.content-wrapper -->
<app-footer></app-footer> 
</div>
<div id="growls-default">
    <div [ngClass]="{'growl': true, 'growl-notice':alertSuccess, 
                    'growl-error':alertError, 
                    'growl-warning':alertWarning, 
                    'growl-large':true, 
                    'growl-outgoing':!activateAlert}">
        <div [ngClass]="{'growl-close': true, 'growl-outgoing':!activateAlert}">×</div>
        <div [ngClass]="{'growl-title': true, 'growl-outgoing':!activateAlert}">
            <i [ngClass]="{'icon': true, 'fa': true, 
            'fa-check': alertSuccess, 
            'fa-close': alertError, 
            'fa-warning': alertWarning}"></i>
            {{titleAlert}} </div>
        <div [ngClass]="{'growl-message': true,'growl-outgoing':!activateAlert}">{{messageAlert}}</div>
    </div>
</div>