.form {
    margin-left: 1%;
    margin-right: 2%;
}

.dateInicio {
    margin-left: -3%;
}

.dateFinal {
    margin-right: -5%;
}

.buscador {
    position: left;
}

.pad {
    margin: 0 0 -30px 0;
}
.modal-name {
    margin-top: 7%;
}

.modal-body {
    padding-left: 8%;
    background: #ECF0F5;
}

.modal-footer {
    background: #ECF0F5;
}

.infoConvenio{
    background: #ECF0F5;
}

.modal-footer-edit {
    text-align: center;
    margin: auto;
}
/*modal edit convenio*/
.form-edit{
  margin: 0 5% 0 0;  
}
