<div class="wrapper">
    <app-navbar-jf></app-navbar-jf>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Gestionar
            <small>Departamentos</small>
        </h1>
        <ol class="breadcrumb">
            <li><a [routerLink]="['/home']"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">Gestión de departamentos</li>
        </ol>
    </section>
    <div *ngIf="MessageDesable == true" class="pad no-print">
            <div class="callout callout-info">
                <h4><i class="icon fa fa-check"></i> Departamento Deshabilitado</h4>
            </div>
        </div>
        <div *ngIf="MessageEnable == true" class="pad no-print">
                <div class="callout callout-success">
                    <h4><i class="icon fa fa-check"></i> Departamento habilitado</h4>
                </div>
            </div>
    <div *ngIf="MessageSuccessOrg == true" class="pad no-print">
        <div class="callout callout-success">
            <h4><i class="icon fa fa-check"></i> Registro Exitoso</h4>
            <p>El registro del departamento se realizó satisfactoriamente.</p>
        </div>
    </div>
    <div *ngIf="MessageFailOrg == true" class="pad no-print">
        <div class="callout callout-danger">
            <h4><i class="icon fa fa-check"></i> Fallo en el registro</h4>
            <p>Se ha producido un fallo al registrar el departamento.</p>
        </div>
    </div>
    <div *ngIf="messageYdelete == true" class="pad no-print">
        <div class="callout callout-success">
            <h4><i class="icon fa fa-check"></i> El departamento fue eliminado satisfactoriamente</h4>
        </div>
    </div>
    <!---MODAL-->
    <div class="modal fade" id="modal-editar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Editar</h4>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="editDepartamento()" #editPersona="ngForm" name="formularioEditPersona" class="form-horizontal">

                        <div class="row row-editar">
                            <div class="col-md-12">
                                <figure class="figure text-center">
                                    <img src="../../../assets/img/departamento.png" class="figure-img img-fluid rounded img-thumbnail" alt="A generic square placeholder image with rounded corners in a figure.">
                                    <figcaption class="figure-caption text-center">Fotografia para la identifiación</figcaption>
                                    <button type="button" class="btn btn-default btn-subir-foto">
                              <i class="fa fa-upload"></i> Subir fotografía</button>
                                </figure>
                                <br>
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-3 control-label">Nombre</label>

                                    <div class="col-sm-9">
                                        <input [(ngModel)]="departamento.nombreDepartamento" name="nombreDepartamento" type="text" class="form-control" id="pNombre" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-3 control-label">Costo de hora</label>

                                    <div class="col-sm-9">
                                        <input [(ngModel)]="departamento.costoHora" name="costoHora" type="text" class="form-control" id="costoHora" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-3 control-label">Limite de estudiantes</label>

                                    <div class="col-sm-9">
                                        <input [(ngModel)]="departamento.limiteEstudiante" name="limiteEstudiante" type="text" class="form-control" id="limiteEstudiante" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">

                                <button (click)="mensajeSuccess()" type="submit" name="button" class="btn btn-primary margin" data-dismiss="modal">
                            <i class="fa fa-refresh"></i> Actualizar
                          </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-informacion">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Mas información...</h4>
                </div>
                <div class="infoConvenio modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="box-profile">
                                <img class="profile-user-img img-responsive img-circle" src="assets/img/departamento.png" alt="User profile picture">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="box-header with-border">
                                <h3 class="modal-name"><strong>DEPARTAEMNTO {{ nombreDepartamento | uppercase }}</strong> </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <hr>
                        <h4>DATOS DEL JEFE DEL DEPARTAEMNTO</h4>
                            <div class="col-md-5">
                                <p><strong><i class="fa fa-user margin-r-5"></i> Nombre completo:</strong></p>                                        
                                <p><strong><i class="fa fa-credit-card margin-r-5"></i> Carnet de Identidad:</strong></p>                                        
                                <p><strong><i class="fa fa-flag-checkered margin-r-5"></i> Nacionalidad:</strong></p>
                                <p><strong><i class="fa fa-map-marker margin-r-5"></i> Dirección:</strong></p>
                                <p><strong><i class="fa fa-calendar margin-r-5"></i> Fecha nacimiento:</strong></p>
                                <p><strong><i class="fa fa-phone margin-r-5"></i> Celular:</strong></p>
                                <p><strong><i class="fa fa-dot-circle-o margin-r-5"></i> Estado de registro:</strong></p>
                            </div>
                            <div class="col-md-7">
                                <p>{{ nombreCompleto }}</p>   
                                <p>{{ ci }}</p>   
                                <p>{{ nacionalidad }}</p>
                                <p>{{ direccion }}</p>
                                <p>{{ fechaNacimiento | date: 'dd/MM/yyyy' }}</p>
                                <p>{{ celular }}</p>
                                <p>{{ estadoPersona | estado}}</p>
                            </div>
                    </div>
                    <div class="row">
                        <hr>
                        <h4>DATOS DEL DEPARTAEMNTO</h4>
                            <div class="col-md-5">
                                <p><strong><i class="fa fa-slack margin-r-5"></i> Código departamento:</strong></p>
                                <p><strong><i class="fa fa-building margin-r-5"></i> Nombre del departamento:</strong></p>
                                <p><strong><i class="fa fa-money margin-r-5"></i> Costo de hora:</strong></p>
                                <p><strong><i class="fa fa-calendar margin-r-5"></i> Fecha de registro:</strong></p>
                                <p><strong><i class="fa fa-step-forward margin-r-5"></i> Limite de estudiantes:</strong></p>
                                <p><strong><i class="fa fa-play margin-r-5"></i> Cant. Est. trabajando:</strong></p>
                                <p><strong><i class="fa fa-forward margin-r-5"></i> Cupos:</strong></p>
                                <p><strong><i class="fa fa-dot-circle-o margin-r-5"></i> Estado del departamento:</strong></p>
                            </div>
                            <div class="col-md-7">
                                <p>{{ codigoDepartamento }}</p>
                                <p>{{ nombreDepartamento }}</p>
                                <p>{{ costoHora }} Bs.</p>
                                <p>{{ fechaRegistroHistorialDep | date: 'dd/MM/yyyy' }}</p>
                                <p>{{ limiteEstudiante }}</p>
                                <p>{{ cantidadEstudiantes }}</p>
                                <p>{{ cupos }}</p>
                                <p>{{ estadoDepartamento | estado }}</p>
                            </div>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-eliminar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirmar</h4>
                </div>
                <div class="modal-body">
                    <div class="row text-center">
                        <div class="col-md-6">
                            <button type="button"  data-dismiss="modal" aria-label="Close" class="btn btn-danger">Cancelar</button>
                        </div>
                        <div class="col-md-6">
                            <button (click)="eliminarDepartamento()" data-dismiss="modal" aria-label="Close" type="button" class="btn btn-success">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li (click)="getDepartamentos()" class="active"><a href="#lista" data-toggle="tab">Lista</a></li>
                        <li><a href="#registrar" data-toggle="tab">Registrar</a></li>
                    </ul>
                    <div class="tab-content">
                        <!-- LISTA -->
                        <div class="tab-pane active" id="lista">
                            <section id="new">
                                <div class="box-header with-border">
                                    <h4 class="page-header"><i class="fa fa-list-ul"></i> Lista de Departamentos</h4>
                                    <div class="box-tools left">
                                        <div class="input-group input-group-sm" style="width: 300px;">
                                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Buscar departamento">

                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive no-padding">
                                    <table class="table table-bordered table-hover">
                                        <tr class="fila-tabla">
                                            <th style="width: 10px">#</th>
                                            <th>Departamento</th>
                                            <th>Encargado</th>
                                            <th>Costo de hora</th>
                                            <th style="width: 15px">Limite de estudiantes</th>
                                            <th>Cantidades de estudiantes</th>
                                            <th>Cupo</th>
                                            <th style="width: 10px">Estado</th>
                                            <th style="width: 15%" class="text-center">Opciones</th>
                                        </tr>
                                        <tr *ngFor="let departamento of departamentos; let i = index">
                                            <td>{{ i+1 }}.</td>
                                            <td>{{ departamento.nombreDepartamento }}</td>
                                            <td>{{ departamento.primerNombre }} {{ departamento.segundoNombre }} {{ departamento.primerApellido }} {{ departamento.segundoApellido }}</td>
                                            <td>{{ departamento.costoHora }} Bs.</td>
                                            <td>{{ departamento.limiteEstudiante }}</td>
                                            <td>
                                                <div class="progress progress-xs progress-striped active">
                                                    <div class="progress-bar progress-bar-primary" style="width: 38%" ></div>
                                                </div>
                                            </td>
                                            <td class="text-center"><span class="badge bg-light-blue">{{ departamento.limiteEstudiante }}</span></td>
                                            <td class="text-center">
                                                <a *ngIf="departamento.estadoDepartamento == false" (click)="editEstadoDepartamento(departamento.idDepartamento, '1'); messageEnableDesable('inactivo')" class="btn  btn-success btn-margin" data-toggle="tooltip" data-placement="right" title="Habilitar"><i class="fa fa-check"></i></a>
                                                <a *ngIf="departamento.estadoDepartamento == true" (click)="editEstadoDepartamento(departamento.idDepartamento, '0'); messageEnableDesable('activo')" class="btn btn-danger btn-margin" data-toggle="tooltip" data-placement="right" title="Desabilitar"><i class="fa fa-close"></i></a>
                                            </td>
                                            <td class="text-center">
                                                <a (click)="getInfoDepartamento(departamento.idDepartamento)" data-toggle="modal" class="btn btn-primary btn-margin" data-target="#modal-informacion" title="Ver"><i class="fa fa-eye"></i></a>
                                                <a data-toggle="modal" data-target="#modal-editar" class="btn btn-default btn-margin" title="Editar"><i class="fa fa-edit"></i></a>
                                                <a (click)="deleteDepartameto(departamento.idDepartamento)" data-toggle="modal" data-target="#modal-eliminar" class="btn btn-danger btn-margin" title="Eliminar"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </section>
                        </div>
                        <!-- /#LISTA -->
                        <!-- REGISTRAR -->
                        <div class="tab-pane" id="registrar">
                            <section id="new">
                                <h4 class="page-header"><i class="fa fa-address-book"></i> Registro de departamento</h4>

                                <div class="box-body">
                                    <div class="box-group" id="accordion">
                                      <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                                      <div class="panel box box-primary">
                                        <div class="box-header with-border">
                                          <h4 class="box-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                              #1 Nombre del departamento
                                            </a>
                                          </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                          <div class="box-body">
                                            <form (ngSubmit)="saveDepartamento()" #registroDepartamento="ngForm" name="formularioRegistroDepartamento" class="form-horizontal">

                                                <div class="row">
                                                    <div class="col-md-7">
            
                                                        <div class="form-group">
                                                            <label for="inputName" class="col-sm-3 control-label">Nombre</label>
            
                                                            <div class="col-sm-9">
                                                                <input [(ngModel)]="departamento.nombreDepartamento" name="nombreDepartamento" type="text" class="form-control" id="pNombre" placeholder="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 text-center">
                                                            <button type="submit"  name="button" class="btn btn-primary margin btn-save-departamento">
                                                                    <i class="fa fa-save"></i> Guardar
                                                            </button>
                                                            
                                                    </div>
                                                </div>
                                            </form>
                                            
                                          </div>
                                        </div>
                                      </div>
                                      <div class="panel box box-primary">
                                        <div class="box-header with-border">
                                          <h4 (click)="getMaxIdDep()" class="box-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                              #2 Datos
                                            </a>
                                          </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                          <div class="box-body">
                                            <form (ngSubmit)="saveHistorialDepartamento()" #registroHistorialDepartamento="ngForm" name="formularioRegistroDepartamento" class="form-horizontal">

                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <div class="form-group">
                                                            <label for="inputName" class="col-sm-3 control-label">Costo de hora</label>
            
                                                            <div class="col-sm-9">
                                                                <input [(ngModel)]="historialDepartamento.costoHora" name="costoHora" type="text" class="form-control" id="costoHora" placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputName" class="col-sm-3 control-label">Limite de estudiantes</label>
            
                                                            <div class="col-sm-9">
                                                                <input [(ngModel)]="historialDepartamento.limiteEstudiante" name="limiteEstudiante" type="text" class="form-control" id="limiteEstudiante" placeholder="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <figure class="figure text-center">
                                                            <img src="../../../assets/img/departamento.png" class="figure-img img-fluid rounded img-thumbnail" alt="A generic square placeholder image with rounded corners in a figure.">
                                                            <figcaption class="figure-caption text-center">Fotografia para la identifiación</figcaption>
                                                            <button type="button" class="btn btn-default btn-subir-foto">
                                                            <i class="fa fa-upload"></i> Subir fotografía</button>
                                                        </figure>
            
                                                    </div>
                                                    <div class="col-md-12 text-center">
            
                                                        <button type="submit" name="button" class="btn btn-primary margin">
                                                          <i class="fa fa-save"></i> Guardar
                                                        </button>
                                                    </div>
            
                                                </div>
                                            </form>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="panel box box-primary">
                                        <div class="box-header with-border">
                                          <h4 (click)="getListDeptoSJ()" class="box-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                              #3 Encargado
                                            </a>
                                          </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse">
                                          <div class="box-body">
                                                <h6 class="page-header"> Asignación de Jefe del Departamento</h6>
                                            <form (ngSubmit)="saveOrganizacion()" #registroOrganizacion="ngForm" name="formularioRegistroDepartamento" class="form-horizontal">

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <!-- form start -->
            
                                                        <div class="form-group">
                                                            <label for="inputName" class="col-sm-4 control-label">Buscar nombre</label>
            
                                                            <div class="col-sm-8 select-student">
                                                                <select [(ngModel)]="idPersona" name="idPersona" class="form-control select2" style="width: 100%;">
                                                                    <option *ngFor="let persona of listJefesDepto" [value]="persona.idPersona" selected="selected">{{ persona.primerNombre }} {{ persona.segundoNombre }} {{ persona.primerApellido }} {{ persona.segundoApellido }}</option>
                                                                </select>
                                                            </div>
                                                        </div>
            
            
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="inputName" class="col-sm-4 control-label">Buscar departamento</label>
            
                                                            <div class="col-sm-8 select-student">
                                                                <select [(ngModel)]="idDepartamento" name="idDepartamento" class="form-control select2" style="width: 100%;">
                                                                    <option *ngFor="let departamento of listDepSJ" [value]="departamento.idDepartamento" selected="selected"> {{ departamento.nombreDepartamento }} </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 text-center">
                                                        <br>
                                                        <button type="submit" class="btn bg-primary btn-flat margin">
                                                            <i class="fa fa-save"></i> Guardar</button>
                                                    </div>
            
                                                </div>
                                            </form>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </section>
                        </div>
                        <!-- /#REGISTRAR -->
                        
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<app-footer></app-footer> 
</div>
<!-- /.content-wrapper -->