<div class="wrapper">
    <app-navbar-jf></app-navbar-jf>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Gestionar
            <small>Departamentos</small>
        </h1>
        <ol class="breadcrumb">
            <li><a [routerLink]="['/home']"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">Gestión de departamentos</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#lista" data-toggle="tab">Lista</a></li>
                        <li><a href="#registrar" data-toggle="tab">Registrar</a></li>
                    </ul>
                    <div class="tab-content">
                        <!-- LISTA -->
                        <div class="tab-pane active" id="lista">
                            <section id="new">
                                <div class="box-header with-border">
                                    <h4 class="page-header"><i class="fa fa-list-ul"></i> Lista de Departamentos</h4>
                                    <div class="box-tools left">
                                        <div class="input-group input-group-sm" style="width: 300px;">
                                            <input (keyup)="searchDepartamento(buscarDepartamento.value)" #buscarDepartamento type="text" name="table_search" class="form-control pull-right" placeholder="Buscar departamento">

                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive no-padding">
                                    <table class="table table-bordered table-hover">
                                        <tr class="fila-tabla">
                                            <th style="width: 10px">#</th>
                                            <th>Departamento</th>
                                            <th>Encargado</th>
                                            <th>Costo de hora</th>
                                            <th style="width: 15%">Limite de estudiantes</th>
                                            <th>Cantidades de estudiantes</th>
                                            <th>Cupo</th>
                                            <th style="width: 10px">Estado</th>
                                            <th style="width: 13%" class="text-center">Opciones</th>
                                        </tr>
                                        <tr *ngFor="let departamento of departamentos; let i = index">
                                            <td>{{ i+1 }}.</td>
                                            <td>{{ departamento.nombreDepartamento }}</td>
                                            <td *ngIf="departamento.persona">{{ departamento.persona.primerApellido }} {{ departamento.persona.segundoApellido }} {{ departamento.persona.primerNombre }} {{ departamento.persona.segundoNombre }}</td>
                                            <td *ngIf="!departamento.persona"></td>
                                            <td *ngIf="departamento.historialDepartamento">{{ departamento.historialDepartamento.costoHora }} Bs.</td>
                                            <td *ngIf="!departamento.historialDepartamento"></td>
                                            <td *ngIf="departamento.historialDepartamento" class="text-center">{{ departamento.historialDepartamento.limiteEstudiante }}</td>
                                            <td *ngIf="!departamento.historialDepartamento"></td>
                                            <td *ngIf="departamento.historialDepartamento">
                                                <div class="progress progress-xs progress-striped active">
                                                    <div class="progress-bar progress-bar-primary" style="width: 38%" ></div>
                                                </div>
                                            </td>
                                            <td *ngIf="!departamento.historialDepartamento"></td>
                                            <td *ngIf="departamento.historialDepartamento" class="text-center"><span class="badge bg-light-blue">0</span></td>
                                            <td *ngIf="!departamento.historialDepartamento"></td>
                                            <td *ngIf="departamento.historialDepartamento" class="text-center">
                                                <a *ngIf="!departamento.historialDepartamento.estadoHistorialDepartamento" (click)="editEstadoHistorialDepartamento(departamento.idDepartamento, departamento.historialDepartamento.idHistorialDepartamento, '1')" class="btn  btn-danger btn-margin btn-xs" title="Deshabilitado"><i class="fa fa-close"></i></a>
                                                <a *ngIf="departamento.historialDepartamento.estadoHistorialDepartamento" (click)="editEstadoHistorialDepartamento(departamento.idDepartamento, departamento.historialDepartamento.idHistorialDepartamento, '0')" class="btn btn-success btn-margin btn-xs"  title="Habilitado"><i class="fa fa-check"></i></a>
                                            </td>
                                            <td *ngIf="!departamento.historialDepartamento"></td>
                                            <td class="text-center">
                                                <a (click)="getInfoDepartamento(departamento.idDepartamento)" data-toggle="modal" class="btn btn-info btn-margin btn-xs" data-target="#modal-informacion" title="Ver"><i class="fa fa-eye"></i></a>
                                                <a (click)="searchPutDepartamento(departamento.idDepartamento)" data-toggle="modal" data-target="#modal-editar" class="btn btn-default btn-margin btn-xs" title="Editar"><i class="fa fa-edit"></i></a>
                                                <a (click)="getEncargadosDepartamento(departamento.idDepartamento)" class="btn btn-primary btn-margin btn-xs" data-toggle="modal" data-target="#modal-historialEncargado" title="Encargado"><i class="fa fa-user"></i></a>
                                                <a (click)="getHistorialesDepartamento(departamento.idDepartamento)"  data-toggle="modal" data-target="#modal-historial" class="btn btn-success btn-margin btn-xs" title="Historial departamento"><i class="fa fa-header"></i></a>                                              
                                                <a *ngIf="!departamento.historialDepartamento && !departamento.persona" (click)="deleteDepartameto(departamento.idDepartamento, true)" data-toggle="modal" data-target="#modal-eliminar" class="btn btn-danger btn-margin btn-xs" title="Eliminar"><i class="fa fa-trash"></i></a>
                                                <a *ngIf="departamento.historialDepartamento && departamento.persona" (click)="deleteDepartameto(departamento.idDepartamento, false)" class="btn btn-danger btn-margin btn-xs" title="Eliminar"><i class="fa fa-trash"></i></a>
                                                <a *ngIf="!departamento.historialDepartamento && departamento.persona" (click)="deleteDepartameto(departamento.idDepartamento, false)" class="btn btn-danger btn-margin btn-xs" title="Eliminar"><i class="fa fa-trash"></i></a>
                                                <a *ngIf="departamento.historialDepartamento && !departamento.persona" (click)="deleteDepartameto(departamento.idDepartamento, false)" class="btn btn-danger btn-margin btn-xs" title="Eliminar"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </section>
                        </div>
                        <!-- /#LISTA -->
                        <!-- REGISTRAR -->
                        <div class="tab-pane" id="registrar">
                            <section id="new">
                                <h4 class="page-header"><i class="fa fa-building"></i> Registro de departamento</h4>

                                <div class="box-body">
                                    <form (ngSubmit)="saveDepartamento()" #registroDepartamento="ngForm" name="formularioRegistroDepartamento" class="form-horizontal">

                                     <div class="row">
                                        <div class="col-md-7">    
                                                <div [ngClass]="{'form-group': true, 'has-error': !inputValNameDepto}">
                                                    <label for="inputName" class="col-sm-3 control-label">Nombre</label>    
                                                <div class="col-sm-9">
                                                    <input (keyup)="inputNombreDepartamento(departamento.nombreDepartamento, 1)" [(ngModel)]="departamento.nombreDepartamento" name="departamento.nombreDepartamento" type="text" class="form-control">
                                                    <span *ngIf="!inputValNameDepto" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeNameDepto }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <button type="submit"  name="button" class="btn btn-primary margin btn-save-departamento">
                                                    <i class="fa fa-save"></i> Guardar
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                </div>
                            </section>
                        </div>
                        <!-- /#REGISTRAR -->
                        
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- MODAL -->
    <div class="modal fade" id="modal-historialEncargado">
            <div class="modal-dialog modal-encargado">
                <div class="modal-content">
                    <div class="modal-header">
                        <a (click)="getJefesDeptarmento()" data-toggle="modal" data-target="#modal-addEncargado" data-dismiss="modal" class="btn btn-default btn-Add" title="Añadir Historial"><i class="fa fa-plus"></i></a>
                        <h4 class="modal-title">Encargado</h4>
                    </div>
                        <div class="table-responsive no-padding">
                            <table class="table table-bordered table-hover">
                                <tr class="fila-tabla">
                                    <th style="width: 10px">#</th>
                                    <th>Nombre</th>
                                    <th>Dirección</th>
                                    <th>Celular</th>
                                    <th>Fecha de inicio</th>
                                    <th style="width: 10px">Estado</th>
                                    <th style="width: 10%" class="text-center">Opciones</th>
                                </tr>
                                <tr *ngFor="let item of organizacionDepartamento; let i = index">
                                    <td>{{ i+1 }}.</td>
                                    <td>{{ item.primerApellido }} {{ item.segundoApellido }} {{ item.primerNombre }} {{ item.segundoNombre }}</td>
                                    <td>{{ item.direccion }}</td>
                                    <td>{{ item.celular }}</td>
                                    <td>{{ item.fechaRegistroOrganizacion | date: 'dd/MM/yyyy' }}</td>
                                    <td class="text-center">
                                        <a *ngIf="!item.estadoOrganizacion" (click)="editEstadoHistorialDepartamento(historialDepto.idDepartamento, historialDepto.idHistorialDepartamento, '1')" class="btn  btn-danger btn-margin btn-xs" title="Deshabilitado"><i class="fa fa-close"></i></a>
                                        <a *ngIf="item.estadoOrganizacion" (click)="editEstadoHistorialDepartamento(historialDepto.idDepartamento, historialDepto.idHistorialDepartamento, '0')" class="btn btn-success btn-margin btn-xs" title="Habilitado"><i class="fa fa-check"></i></a>
                                    </td>
                                    <td class="text-center">
                                        <a *ngIf="!item.estadoOrganizacion" (click)="deleteOrganizacion(item.idOrganizacion, true)" data-toggle="modal" data-target="#modal-eliminarEncargado" data-dismiss="modal" class="btn btn-danger btn-margin btn-xs" title="Eliminar"><i class="fa fa-trash"></i></a>
                                        <a *ngIf="item.estadoOrganizacion" (click)="deleteOrganizacion(item.idOrganizacion, false)" class="btn btn-danger btn-margin btn-xs" title="Eliminar"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                </div>
            </div>
    </div>

    <div class="modal fade" id="modal-addEncargado">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Registrar</h4>
                    </div>
                    <form #saveJefeDepartamento="ngForm" name="formularioJefeDepartamento" class="form-horizontal">
                    <div class="modal-body">   
                            <div class="row row-editar">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-3 control-label">Nombres</label>

                                        <div class="col-sm-9 select-student">
                                            <select #idPersona class="form-control select2" style="width: 100%;">
                                                <option *ngFor="let persona of listJefesDepto" [value]="persona.idPersona">
                                                {{persona.primerApellido}} {{persona.segundoApellido}} {{ persona.primerNombre }} {{ persona.segundoNombre }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                    </div>
                    <div class="modal-footer ">
                        <button type="button" class="btn btn-default pull-left" data-toggle="modal" data-target="#modal-historialEncargado" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-remove"></i> Cancelar
                        </button>
                        <button (click)="saveOrganizacion(idPersona.value)" type="submit" name="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal-historialEncargado" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-save"></i> Guardar
                        </button>
                    </div>
                    </form>
                </div>
            </div>
    </div>
    <div class="modal fade" id="modal-eliminarEncargado">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirmar</h4>
                </div>
                <div class="modal-body">
                    <div class="row text-center">
                        <div class="col-md-6">
                            <button type="button" data-toggle="modal" data-target="#modal-historialEncargado" data-dismiss="modal" aria-label="Close" class="btn btn-danger">
                                <i class="fa fa-close"></i> Cancelar</button>
                        </div>
                        <div class="col-md-6">
                            <button (click)="confirmarDeleteOrganizacion()" data-toggle="modal" data-target="#modal-historialEncargado" data-dismiss="modal" aria-label="Close" type="button" class="btn btn-success">
                                <i class="fa fa-check"></i> Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-historial">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a data-toggle="modal" data-target="#modal-addHistorial" data-dismiss="modal" class="btn btn-default btn-Add" title="Añadir Historial"><i class="fa fa-plus"></i></a>
                    <h4 class="modal-title">Historial</h4>
                </div>
                    <div class="table-responsive no-padding">
                        <table class="table table-bordered table-hover">
                            <tr class="fila-tabla">
                                <th style="width: 10px">#</th>
                                <th>Limite de estudiantes</th>
                                <th>Costo de hora</th>
                                <th>Fecha de inicio</th>
                                <th style="width: 10px">Estado</th>
                                <th style="width: 10%" class="text-center">Opciones</th>
                            </tr>
                            <tr *ngFor="let historialDepto of historialesDepartamento; let i = index">
                                <td>{{ i+1 }}.</td>
                                <td>{{ historialDepto.limiteEstudiante }}</td>
                                <td>{{ historialDepto.costoHora }} Bs.</td>
                                <td>{{ historialDepto.fechaRegistroHistorialDepartamento | date: 'dd/MM/yyyy' }}</td>
                                <td class="text-center">
                                    <a *ngIf="!historialDepto.estadoHistorialDepartamento" (click)="editEstadoHistorialDepartamento(historialDepto.idDepartamento, historialDepto.idHistorialDepartamento, '1')" class="btn  btn-danger btn-margin btn-xs" title="Deshabilitado"><i class="fa fa-close"></i></a>
                                    <a *ngIf="historialDepto.estadoHistorialDepartamento" (click)="editEstadoHistorialDepartamento(historialDepto.idDepartamento, historialDepto.idHistorialDepartamento, '0')" class="btn btn-success btn-margin btn-xs" title="Habilitado"><i class="fa fa-check"></i></a>
                                </td>
                                <td class="text-center">
                                    <a (click)="searchEditHistorialDepartamento(historialDepto.idHistorialDepartamento)" data-toggle="modal" data-target="#modal-editHistorial" data-dismiss="modal" class="btn btn-default btn-margin btn-xs" title="Editar"><i class="fa fa-edit"></i></a>
                                    <a *ngIf="!historialDepto.estadoHistorialDepartamento" (click)="deleteHistorialDepartamento(historialDepto.idHistorialDepartamento, true)" data-toggle="modal" data-target="#modal-eliminarHistorial" data-dismiss="modal" class="btn btn-danger btn-margin btn-xs" title="Eliminar"><i class="fa fa-trash"></i></a>
                                    <a *ngIf="historialDepto.estadoHistorialDepartamento" (click)="deleteHistorialDepartamento(historialDepto.idHistorialDepartamento, false)" class="btn btn-danger btn-margin btn-xs" title="Eliminar"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-eliminarHistorial">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirmar</h4>
                </div>
                <div class="modal-body">
                    <div class="row text-center">
                        <div class="col-md-6">
                            <button type="button" data-toggle="modal" data-target="#modal-historial" data-dismiss="modal" aria-label="Close" class="btn btn-danger">
                                <i class="fa fa-close"></i> Cancelar</button>
                        </div>
                        <div class="col-md-6">
                            <button (click)="confirmDeleteHistorialDepartamento()" data-toggle="modal" data-target="#modal-historial" data-dismiss="modal" aria-label="Close" type="button" class="btn btn-success">
                                <i class="fa fa-check"></i> Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-editHistorial">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Editar</h4>
                </div>
                <form #saveHistorialDepartament="ngForm" name="formularioSaveHistorialDepartament" class="form-horizontal">
                <div class="modal-body">   
                        <div class="row row-editar">
                            <div class="col-md-12">
                                <div [ngClass]="{'form-group': true, 'has-error': !inputValCostoDepto}">
                                    <label for="inputName" class="col-sm-3 control-label">Costo de hora</label>

                                    <div class="col-sm-9">
                                        <input (keyup)="inputCostoDepartamento(historialDepartamento.costoHora, 1)" [(ngModel)]="historialDepartamento.costoHora" name="historialDepartamento.costoHora" type="text" class="form-control" id="costoHora" placeholder="">
                                        <span *ngIf="!inputValCostoDepto" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeCostoDepto }}</span>
                                    </div>
                                </div>
                                <div [ngClass]="{'form-group': true, 'has-error': !inputValLimiteDepto}">
                                    <label for="inputName" class="col-sm-3 control-label">Limite de estudiantes</label>

                                    <div class="col-sm-9">
                                        <input (keyup)="inputLimiteDepartamento(historialDepartamento.limiteEstudiante, 1)" [(ngModel)]="historialDepartamento.limiteEstudiante" name="historialDepartamento.limiteEstudiante" type="text" class="form-control" id="limiteEstudiante" placeholder="">
                                        <span *ngIf="!inputValLimiteDepto" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeLimiteDepto }}</span>
                                    </div>
                                </div>
                            </div>    
                        </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-default pull-left" data-toggle="modal" data-target="#modal-historial" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-remove"></i> Cancelar
                    </button>
                    <button (click)="editHistorialDepartamento()" type="submit" name="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal-historial" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-refresh"></i> Actualizar
                    </button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-addHistorial">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Registrar</h4>
                    </div>
                    <form #saveHistorialDepartament="ngForm" name="formularioSaveHistorialDepartament" class="form-horizontal">
                    <div class="modal-body">   
                            <div class="row row-editar">
                                <div class="col-md-12">
                                    <div [ngClass]="{'form-group': true, 'has-error': !inputValCostoDepto}">
                                        <label for="inputName" class="col-sm-3 control-label">Costo de hora</label>
    
                                        <div class="col-sm-9">
                                            <input (keyup)="inputCostoDepartamento(historialDepartamento.costoHora, 1)" [(ngModel)]="historialDepartamento.costoHora" name="historialDepartamento.costoHora" type="text" class="form-control" id="costoHora" placeholder="">
                                            <span *ngIf="!inputValCostoDepto" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeCostoDepto }}</span>
                                        </div>
                                    </div>
                                    <div [ngClass]="{'form-group': true, 'has-error': !inputValLimiteDepto}">
                                        <label for="inputName" class="col-sm-3 control-label">Limite de estudiantes</label>
    
                                        <div class="col-sm-9">
                                            <input (keyup)="inputLimiteDepartamento(historialDepartamento.limiteEstudiante, 1)" [(ngModel)]="historialDepartamento.limiteEstudiante" name="historialDepartamento.limiteEstudiante" type="text" class="form-control" id="limiteEstudiante" placeholder="">
                                            <span *ngIf="!inputValLimiteDepto" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeLimiteDepto }}</span>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                    </div>
                    <div class="modal-footer ">
                        <button type="button" class="btn btn-default pull-left" data-toggle="modal" data-target="#modal-historial" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-remove"></i> Cancelar
                        </button>
                        <button (click)="saveHistorialDepartamento()" type="submit" name="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal-historial" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-save"></i> Guardar
                        </button>
                    </div>
                    </form>
                </div>
            </div>
    </div>

    <div class="modal fade" id="modal-editar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Editar</h4>
                </div>
            <form (ngSubmit)="editarDepartamento()" #editDepartamento="ngForm" name="formularioEditDepartamento" class="form-horizontal">
                <div class="modal-body">
                        <div class="row row-editar">
                            <div class="col-md-12">
                                <figure class="figure text-center figure-editar">
                                    <img src="../../../assets/img/departamento.png" class="figure-img img-fluid rounded img-thumbnail" alt="A generic square placeholder image with rounded corners in a figure.">
                                    <figcaption class="figure-caption text-center">Fotografia para la identifiación</figcaption>
                                    <button type="button" class="btn btn-default btn-subir-foto">
                                <i class="fa fa-upload"></i> Subir fotografía</button>
                                </figure>
                                <br>
                                <div [ngClass]="{'form-group': true, 'has-error': !inputValEditNameDepto}">
                                    <label for="inputName" class="col-sm-3 control-label">Nombre</label>

                                    <div class="col-sm-9">
                                        <input (keyup)="inputNombreDepartamento(departamento.nombreDepartamento, 2)" [(ngModel)]="departamento.nombreDepartamento" name="departamento.nombreDepartamento" type="text" class="form-control" id="pNombre">
                                        <span *ngIf="!inputValEditNameDepto" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeNameDepto }}</span>
                                    </div>
                                </div>                                
                            </div>

                        </div>                    
                </div>
                <div class="modal-footer ">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" aria-label="Close">
                                <i class="fa fa-remove"></i> Cancelar
                                </button>
                    <button type="submit" name="button" class="btn btn-primary pull-right">
                    <i class="fa fa-refresh"></i> Actualizar
                    </button>
                </div>
            </form>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="modal-informacion">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Mas información...</h4>
                </div>
                <div class="infoConvenio modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="box-profile">
                                <img class="profile-user-img img-responsive img-circle" src="assets/img/departamento.png" alt="User profile picture">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="box-header with-border">
                                <h3 class="modal-name"><strong>DEPARTAEMNTO {{ nombreDepartamento | uppercase }}</strong> </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <hr>
                        <h4>DATOS DEL JEFE DEL DEPARTAEMNTO</h4>
                            <div class="col-md-5">
                                <p><strong><i class="fa fa-user margin-r-5"></i> Nombre completo:</strong></p>                                        
                                <p><strong><i class="fa fa-credit-card margin-r-5"></i> Carnet de Identidad:</strong></p>                                        
                                <p><strong><i class="fa fa-flag-checkered margin-r-5"></i> Nacionalidad:</strong></p>
                                <p><strong><i class="fa fa-map-marker margin-r-5"></i> Dirección:</strong></p>
                                <p><strong><i class="fa fa-calendar margin-r-5"></i> Fecha nacimiento:</strong></p>
                                <p><strong><i class="fa fa-phone margin-r-5"></i> Celular:</strong></p>
                                <p><strong><i class="fa fa-dot-circle-o margin-r-5"></i> Estado de registro:</strong></p>
                            </div>
                            <div class="col-md-7">
                                <p>{{ nombreCompleto }}</p>   
                                <p>{{ ci }}</p>   
                                <p>{{ nacionalidad }}</p>
                                <p>{{ direccion }}</p>
                                <p>{{ fechaNacimiento | date: 'dd/MM/yyyy' }}</p>
                                <p>{{ celular }}</p>
                                <p>{{ estadoPersona | estado}}</p>
                            </div>
                    </div>
                    <div class="row">
                        <hr>
                        <h4>DATOS DEL DEPARTAEMNTO</h4>
                            <div class="col-md-5">
                                <p><strong><i class="fa fa-slack margin-r-5"></i> Código departamento:</strong></p>
                                <p><strong><i class="fa fa-building margin-r-5"></i> Nombre del departamento:</strong></p>
                                <p><strong><i class="fa fa-money margin-r-5"></i> Costo de hora:</strong></p>
                                <p><strong><i class="fa fa-calendar margin-r-5"></i> Fecha inicio:</strong></p>
                                <p><strong><i class="fa fa-step-forward margin-r-5"></i> Limite de estudiantes:</strong></p>
                                <p><strong><i class="fa fa-play margin-r-5"></i> Cant. Est. trabajando:</strong></p>
                                <p><strong><i class="fa fa-forward margin-r-5"></i> Cupos:</strong></p>
                                <p><strong><i class="fa fa-dot-circle-o margin-r-5"></i> Estado del departamento:</strong></p>
                            </div>
                            <div class="col-md-7">
                                <p>{{ codigoDepartamento }}</p>
                                <p>{{ nombreDepartamento }}</p>
                                <p *ngIf="costoHora != null">{{ costoHora }} Bs.</p>
                                <p *ngIf="costoHora == null"> 00.00 Bs. </p>
                                <p *ngIf="fechaRegistroHistorialDep != null">{{ fechaRegistroHistorialDep | date: 'dd/MM/yyyy' }}</p>
                                <p *ngIf="fechaRegistroHistorialDep == null">00/00/0000</p>
                                <p>{{ limiteEstudiante }}</p>
                                <p>{{ cantidadEstudiantes }}</p>
                                <p>{{ cupos }}</p>
                                <p>{{ estadoDepartamento | estado }}</p>
                            </div>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"></i> Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-eliminar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirmar</h4>
                </div>
                <div class="modal-body">
                    <div class="row text-center">
                        <div class="col-md-6">
                            <button type="button"  data-dismiss="modal" aria-label="Close" class="btn btn-danger">
                                <i class="fa fa-close"></i> Cancelar</button>
                        </div>
                        <div class="col-md-6">
                            <button (click)="eliminarDepartamento()" data-dismiss="modal" aria-label="Close" type="button" class="btn btn-success">
                                <i class="fa fa-check"></i> Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.content-wrapper -->
<app-footer></app-footer> 
</div>
<div id="growls-default">
        <div [ngClass]="{'growl': true, 'growl-notice':alertSuccess, 
                        'growl-error':alertError, 
                        'growl-warning':alertWarning, 
                        'growl-large':true, 
                        'growl-outgoing':!activateAlert}">
            <div [ngClass]="{'growl-close': true, 'growl-outgoing':!activateAlert}">×</div>
            <div [ngClass]="{'growl-title': true, 'growl-outgoing':!activateAlert}">
                <i [ngClass]="{'icon': true, 'fa': true, 
                'fa-check': alertSuccess, 
                'fa-close': alertError, 
                'fa-warning': alertWarning}"></i>
                {{titleAlert}} </div>
            <div [ngClass]="{'growl-message': true,'growl-outgoing':!activateAlert}">{{messageAlert}}</div>
        </div>
    </div>