<div class="wrapper">
    <app-navbar-jf></app-navbar-jf>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Gestionar
            <small>Usuarios</small>
        </h1>
        <ol class="breadcrumb">
            <li><a [routerLink]="['/home']"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">Gestión de usuarios</li>
        </ol>
    </section>
    <!---MODAL-->
    <div class="modal fade" id="modal-informacion">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Mas información...</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="box-profile">
                                <img class="profile-user-img img-responsive img-circle" src="assets/img/avatar.png" alt="User profile picture">
                                <p class="text-muted text-center">{{infoCodEstudiante}}</p>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="box-header with-border">
                                <h3 class="modal-name">{{ infoNombreCompleto }}</h3>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-5">
                                        <p *ngIf="infoCarrera"><strong><i class="fa fa-book margin-r-5"></i> Carrera:</strong></p>
                                        <p *ngIf="infoSemestre"><strong><i class="fa fa-star margin-r-5"></i> Semestre:</strong></p>
                                        <p><strong><i class="fa fa-map-marker margin-r-5"></i> Dirección:</strong></p>
                                        <p><strong><i class="fa fa-flag-checkered margin-r-5"></i> Nacionalidad:</strong></p>
                                        <p><strong><i class="fa fa-credit-card margin-r-5"></i> Carnet de Identidad:</strong></p>
                                        <p><strong><i class="fa fa-phone margin-r-5"></i> Celular:</strong></p>
                                        <p><strong><i class="fa fa-calendar margin-r-5"></i> Fecha de nacimiento:</strong></p>
                                    </div>
                                    <div class="col-md-7">
                                        <p *ngIf="infoCarrera">{{ infoCarrera }}</p>
                                        <p *ngIf="infoSemestre">{{ infoSemestre }}</p>
                                        <p>{{ infoDireccion }}</p>
                                        <p>{{ infoNacionalidad }}</p>
                                        <br>
                                        <p>{{ infoCI }}</p>
                                        <p>{{ infoCelular }}</p>
                                        <br>
                                        <p>{{ infoFechaNacimiento | fecha : 1 }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"> <i class="fa fa-check"></i> Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-eliminar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirmar</h4>
                </div>
                <div class="modal-body">
                    <br>
                    <div class="row text-center">
                        <div class="col-md-6">
                            <button type="button"  data-dismiss="modal" aria-label="Close" class="btn btn-danger">
                                <i class="fa fa-remove"></i> Cancelar</button>
                        </div>
                        <div class="col-md-6">
                            <button (click)="eliminarUser()" data-dismiss="modal" aria-label="Close" type="button" class="btn btn-success">
                                <i class="fa fa-check"></i> Aceptar</button>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-editar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Editar</h4>
                </div>
                <div class="modal-body">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#datos" data-toggle="tab">Datos personales</a></li>
                            <li><a href="#updateUser" data-toggle="tab">Usuario</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="datos">                           
                            <form name="formularioEditPersona" class="form-horizontal">
                                <div class="row row-editar">
                                    <div class="col-md-12">
                                        <figure class="figure text-center">
                                            <img src="../../../assets/img/avatar.png" class="figure-img img-fluid rounded img-thumbnail" alt="A generic square placeholder image with rounded corners in a figure.">
                                            <figcaption class="figure-caption text-center">Fotografia para la identifiación</figcaption>
                                            <button type="button" class="btn btn-default btn-subir-foto">
                                        <i class="fa fa-upload"></i> Subir fotografía</button>
                                        </figure>
                                        <br>
                                        <div *ngIf="userLog.idRol == 2 || userLog.idRol == 3" [ngClass]="{'has-error': !inputValEditCodStudent}" class="form-group">
                                            <label for="inputName" class="col-sm-3 control-label">Cod. Estudiante</label>

                                            <div class="col-sm-9">
                                                <input (keyup)="inputCodStudent(editpersona.codEstudiante, 2)" [(ngModel)]="editpersona.codEstudiante" name="editpersona.codEstudiante" type="text" class="form-control" id="editpersona.codEstudiante" placeholder="">
                                                <span *ngIf="!inputValEditCodStudent" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeCodStudent }}</span>
                                            </div>
                                        </div>
                                        <div [ngClass]="{'form-group': true, 'has-error': !inputValEditFirstName}">
                                            <label for="inputName" class="col-sm-3 control-label">Primer nombre</label>

                                            <div class="col-sm-9">
                                                <input (keyup)="inputFirstName(editpersona.primerNombre, 2)" [(ngModel)]="editpersona.primerNombre" name="editpersona.primerNombre" type="text" class="form-control" id="editpersona.primerNombre" placeholder="">
                                                <span *ngIf="!inputValEditFirstName" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeFullName }}</span>
                                            </div>
                                        </div>
                                        <div [ngClass]="{'form-group': true, 'has-error': !inputValEditSecondName}">
                                            <label for="inputName" class="col-sm-3 control-label">Segundo nombre</label>

                                            <div class="col-sm-9">
                                                <input (keyup)="inputSecondName(editpersona.segundoNombre, 2)" [(ngModel)]="editpersona.segundoNombre" name="editpersona.segundoNombre"  type="text" class="form-control" id="editpersona.segundoNombre" placeholder="">
                                                <span *ngIf="!inputValEditSecondName" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeFullName }}</span>
                                            </div>
                                        </div>
                                        <div [ngClass]="{'form-group': true, 'has-error': !inputValEditSurname}">
                                            <label for="inputName" class="col-sm-3 control-label">Primer apellido</label>

                                            <div class="col-sm-9">
                                                <input (keyup)="inputSurname(editpersona.primerApellido, 2)" [(ngModel)]="editpersona.primerApellido" name="editpersona.primerApellido" type="text" class="form-control" id="editpersona.primerApellido" placeholder="">
                                                <span *ngIf="!inputValEditSurname" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeFullName }}</span>
                                            </div>
                                        </div>
                                        <div [ngClass]="{'form-group': true, 'has-error': !inputValEditSecondSurname}">
                                            <label for="inputExperience" class="col-sm-3 control-label">Segundo apellido</label>

                                            <div class="col-sm-9">
                                                <input (keyup)="inputSecondSurname(editpersona.segundoApellido, 2)" [(ngModel)]="editpersona.segundoApellido" name="editpersona.segundoApellido" type="text" class="form-control" id="editpersona.segundoApellido" placeholder="">
                                                <span *ngIf="!inputValEditSecondSurname" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeFullName }}</span>
                                            </div>
                                        </div>
                                        <div *ngIf="userLog.idRol == 2 || userLog.idRol == 3" [ngClass]="{'form-group': true}">
                                            <label for="inputName" class="col-sm-3 control-label">Carrera</label>

                                            <div class="col-sm-9 select-student">
                                                <select [(ngModel)]='editpersona.idCarrera' name="editpersona.idCarrera" class="form-control select2" style="width: 100%;">
                                                    <option *ngFor="let carrera of carreras" [value]="carrera.idCarrera" >{{ carrera.nombreCarrera }}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div *ngIf="userLog.idRol == 2 || userLog.idRol == 3" [ngClass]="{'form-group': true, 'has-error': !inputValEditSemester}">
                                            <label for="inputExperience" class="col-sm-3 control-label">Semestre</label>

                                            <div class="col-sm-9">
                                                <input (keyup)="inputSemester(editpersona.semestre, 2)" [(ngModel)]="editpersona.semestre" name="editpersona.semestre" type="text" class="form-control" id="editpersona.semestre" placeholder="">
                                                <span *ngIf="!inputValEditSemester" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeSemester }}</span>
                                            </div>
                                        </div>
                                        <div [ngClass]="{'form-group': true, 'has-error': !inputValEditNationality}">
                                            <label for="inputEmail" class="col-sm-3 control-label">Nacionalidad</label>
                                            <div class="col-sm-9">
                                                <input (keyup)="inputNationality(editpersona.nacionalidad, 2)" [(ngModel)]="editpersona.nacionalidad" name="editpersona.nacionalidad" type="text" class="form-control" id="editpersona.nacionalidad" placeholder="">
                                                <span *ngIf="!inputValEditNationality" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeNationality }}</span>
                                            </div>
                                        </div>
                                        <div [ngClass]="{'form-group': true, 'has-error': !inputValEditBirth}">
                                            <label for="inputSkills" class="col-sm-3 control-label">Fecha de nacimiento</label>

                                            <div class="col-sm-9">
                                                <input (keyup)="inputBirth(editpersona.fechaNacimiento, 2)" [(ngModel)]="editpersona.fechaNacimiento" name="editpersona.fechaNacimiento" type="text" class="form-control pull-right" id="editpersona.fechaNacimiento" placeholder="31/01/1990">
                                                <span *ngIf="!inputValEditBirth" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeBirth }}</span>
                                            </div>
                                        </div>
                                        <div [ngClass]="{'form-group': true, 'has-error': !inputValEditAddress}">
                                            <label for="inputSkills" class="col-sm-3 control-label">Dirección</label>

                                            <div class="col-sm-9">
                                                <input (keyup)="inputAddress(editpersona.direccion, 2)" [(ngModel)]="editpersona.direccion" name="editpersona.direccion" type="text" class="form-control" id="editpersona.direccion" placeholder="">
                                                <span *ngIf="!inputValEditAddress" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeAddress }}</span>
                                            </div>
                                        </div>
                                        <div [ngClass]="{'form-group': true, 'has-error': !inputValEditCI}">
                                            <label for="inputSkills" class="col-sm-3 control-label">C.I.</label>

                                            <div class="col-sm-9">
                                                <input (keyup)="inputCI(editpersona.ci, 2)" [(ngModel)]="editpersona.ci" name="editpersona.ci" type="text" class="form-control" id="editpersona.ci" placeholder="">
                                                <span *ngIf="!inputValEditCI" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeCI }}</span>
                                            </div>
                                        </div>
                                        <div [ngClass]="{'form-group': true, 'has-error': !inputValEditMobile}">
                                            <label for="inputSkills" class="col-sm-3 control-label">Celular</label>

                                            <div class="col-sm-9">
                                                <input (keyup)="inputMobile(editpersona.celular, 2)" [(ngModel)]="editpersona.celular" name="editpersona.celular" type="text" class="form-control" id="editpersona.celular" placeholder="">
                                                <span *ngIf="!inputValEditMobile" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeMobile }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center">
                                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal" aria-label="Close">
                                                <i class="fa fa-remove"></i> Cancelar
                                            </button>
                                        <button (click)="editarPersona()" type="button" name="button" class="btn btn-primary pull-right">
                                        <i class="fa fa-refresh"></i> Actualizar
                                    </button>
                                    </div>

                                </div>
                            </form>
                            </div>
                            <div class="tab-pane" id="updateUser">                           
                                <form name="formularioEditUsuario" class="form-horizontal">
                                    <div class="row row-editar">
                                        <div class="col-md-12">
                                            <div [ngClass]="{'form-group': true, 'has-error': !inputValEditUser}">
                                                <label for="inputName" class="col-sm-3 control-label">Usuario</label>
    
                                                <div class="col-sm-9">
                                                    <input (keyup)="inputUser(edituser.usuario, 2)" [(ngModel)]="edituser.usuario" name="edituser.usuario" type="text" class="form-control" id="edituser.usuario" placeholder="">
                                                    <span *ngIf="!inputValEditUser" class="help-block"><i class="icon fa fa-warning"></i> {{ messageUser }}</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputName" class="col-sm-3 control-label">Rol</label>
    
                                                <div class="col-sm-9">
                                                    <select class="form-control select2" #editIdRol style="width: 100%;">
                                                        <option *ngIf="userLog.idRol == 6" [value]="6">Administrador</option>
                                                        <option *ngIf="userLog.idRol == 6" [value]="1">Jefe de GTH</option>
                                                        <option *ngIf="userLog.idRol == 2 || userLog.idRol == 3" [value]="2">Jefatura de Finanzas</option>
                                                        <option *ngIf="userLog.idRol == 2 || userLog.idRol == 3" [value]="3">Finanzas</option>
                                                        <option *ngIf="userLog.idRol == 2 || userLog.idRol == 3" [value]="4">Jefe de Departamento</option>
                                                        <option *ngIf="userLog.idRol == 2 || userLog.idRol == 3" [value]="5">Estudiante</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div [ngClass]="{'form-group': true, 'has-feedback':true, 'has-error': !inputValEditPassword}">
                                                <label for="inputName" class="col-sm-3 control-label">Contraseña</label>
    
                                                <div class="col-sm-9">                                             
                                                    <div class="input-group input-group-sm">
                                                        <input (keyup)="inputPassword1(edituser.password, 2)" [(ngModel)]="edituser.password" name="edituser.password" type="{{typePassword  ? 'text' : 'password' }}" class="form-control">                                                        
                                                        <div class="input-group-btn">
                                                            <button (click)="hidePassword()" type="button" class="btn btn-default"><i [ngClass]="{'fa':true, 'fa-eye':true}"></i></button>
                                                        </div>                                                        
                                                    </div>
                                                    <span *ngIf="!inputValPassword" class="help-block"><i class="icon fa fa-warning"></i> {{ messagePassword }}</span>   
                                                </div>
                                            </div>
                                            <div [ngClass]="{'form-group': true, 'has-feedback':true, 'has-error': !inputValEditPassword2}">
                                                <label for="inputExperience" class="col-sm-3 control-label">Confirmar constraseña</label>
    
                                                <div class="col-sm-9">
                                                    <input (keyup)="inputPassword2(editPassword, 2)" [(ngModel)]="editPassword" name="editPassword" type="password" class="form-control" id="editPassword" placeholder="******">
                                                    <span *ngIf="!inputValEditPassword2" class="help-block"><i class="icon fa fa-warning"></i> {{ messagePassword2 }}</span>                                              
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">    
                                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal" aria-label="Close">
                                                <i class="fa fa-remove"></i> Cancelar
                                            </button>
                                            <button (click)="editUsers(editIdRol.value)" type="button" name="button" class="btn btn-primary pull-right" data-dismiss="modal">
                                            <i class="fa fa-refresh"></i> Actualizar
                                        </button>
                                        </div>        
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#lista" data-toggle="tab">Lista</a></li>
                        <li><a href="#registrar" data-toggle="tab">Registrar datos personales</a></li>
                        <li (click)="getPersonas()"><a href="#registerUsuario" data-toggle="tab">Registrar Usuario</a></li>
                        <li (click)="listarEstudiantesSA();getCarreras();"><a href="#consumir" data-toggle="tab">Agregar estudiante del sistema académico</a></li>
                    </ul>
                    <div class="tab-content">
                        <!-- LISTA -->
                        <div class="tab-pane active" id="lista">
                            <section id="new">
                                <div class="box-header with-border">
                                    <h4 class="page-header"><i class="fa fa-list-ul"></i> Lista de Usuarios</h4>
                                    <p class="text-left">Lista de todos los usuarios &nbsp;&nbsp;Descripción: <a class="btn-success"><i class="fa fa-check"></i></a> Habilitar&nbsp;&nbsp;  
                                        <a class="btn-danger"><i class="fa fa-close"></i></a> Deshabilitar </p>
                                    <div class="box-tools left">
                                        <div class="input-group input-group-sm" style="width: 300px;">
                                            <input (keyup)="buscarUsuario(buscarNombre.value)" #buscarNombre type="text" name="buscarName" class="form-control pull-right" placeholder="Buscar usuario">

                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="table-responsive no-padding">
                                    <table class="table table-bordered table-hover">
                                        <tr class="fila-tabla">
                                            <th style="width: 10px">#</th>
                                            <th>Codigo estudiantil</th>
                                            <th>Nombre completo</th>
                                            <th>Nombre de usuario</th>
                                            <th>Rol de Usuario</th>
                                            <th class="text-center" >Estado</th>
                                            <th class="text-center" >Opciones</th>
                                        </tr>
                                        <tr *ngFor="let user of userPersona; let i = index">
                                            <td>{{ i+1 }}.</td>
                                            <td>{{ user.codEstudiante }}</td>
                                            <td>{{ user.primerApellido | undefinedDato }} {{ user.segundoApellido | undefinedDato }} {{ user.primerNombre }} {{ user.segundoNombre | undefinedDato }}</td>
                                            <td>{{ user.usuario }}</td>
                                            <td>{{ user.idRol | rolUser }}</td>
                                            <td class="text-center" >
                                                <a *ngIf="user.estadoUsuario == true" (click)="editEstadoUser(user.idRol, user.usuario, user.password, 0, user.idUsuario, user.idPersona)" class="btn btn-danger btn-margin btn-xs" data-toggle="tooltip" data-placement="right" title="Deshabilitar"><i class="fa fa-close"></i></a>
                                                <a *ngIf="user.estadoUsuario == false" (click)="editEstadoUser(user.idRol, user.usuario, user.password, 1, user.idUsuario, user.idPersona)" class="btn  btn-success btn-margin btn-xs" data-toggle="tooltip" data-placement="right" title="Habilitar"><i class="fa fa-check"></i></a>
                                            </td>
                                            <td class="text-center">
                                                <a (click)="buscarEstudiante(user.idPersona)" data-toggle="modal" class="btn btn-info btn-margin btn-xs" data-target="#modal-informacion" title="Ver"><i class="fa fa-eye"></i></a>
                                                <a (click)="buscarEstudianteEditar(user.idPersona, user.idUsuario)" data-toggle="modal" data-target="#modal-editar" class="btn btn-default btn-margin btn-xs" title="Editar"><i class="fa fa-edit"></i></a>
                                                <a (click)="deleteUser(user.idUsuario, user.idPersona)" data-toggle="modal" data-target="#modal-eliminar" class="btn btn-danger btn-margin btn-xs" title="Eliminar"><i class="fa fa-trash"></i></a>
                                            </td>                                           
                                        </tr>
                                    </table>
                                </div>

                            </section>
                        </div>
                        <!-- /#LISTA -->
                        <!-- REGISTRAR -->
                        <div class="tab-pane" id="registrar">
                            <section id="new">
                                <h4 class="page-header"><i class="fa fa-address-book"></i> Registro de datos personales</h4>

                                <form (ngSubmit)="savePersona()" #registroPersona="ngForm" name="formularioRegistroPersona" class="form-horizontal">

                                    <div class="row">
                                        <div class="col-md-7">
                                            <div *ngIf="userLog.idRol == 2 || userLog.idRol == 3" [ngClass]="{'has-error': !inputValCodStudent}" class="form-group">
                                                <label for="inputName" class="col-sm-3 control-label">Código de estudiante </label>

                                                <div class="col-sm-9">
                                                    <input (keyup)="inputCodStudent(persona.codEstudiante, 1)" [(ngModel)]="persona.codEstudiante" name="persona.codEstudiante" type="text" class="form-control" id="persona.codEstudiante" placeholder="">
                                                    <span *ngIf="!inputValCodStudent" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeCodStudent }}</span>
                                                </div>
                                            </div>
                                            <div [ngClass]="{'has-error': !inputValFirstName}" class="form-group">
                                                <label for="inputName" class="col-sm-3 control-label">Primer nombre *</label>
                                                <div class="col-sm-9">
                                                    <input (keyup)="inputFirstName(persona.primerNombre, 1)" [(ngModel)]="persona.primerNombre" name="persona.primerNombre" type="text" class="form-control" id="persona.primerNombre" placeholder="">
                                                    <span *ngIf="!inputValFirstName" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeFullName }}</span>
                                                </div>
                                            </div>
                                            <div [ngClass]="{'form-group': true, 'has-error': !inputValSecondName}">
                                                <label for="inputName" class="col-sm-3 control-label">Segundo nombre </label>

                                                <div class="col-sm-9">
                                                    <input (keyup)="inputSecondName(persona.segundoNombre, 1)"  [(ngModel)]="persona.segundoNombre" name="persona.segundoNombre" type="text" class="form-control" id="persona.segundoNombre" placeholder="">
                                                    <span *ngIf="!inputValSecondName" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeFullName }}</span>
                                                </div>
                                            </div>
                                            <div [ngClass]="{'form-group': true, 'has-error': !inputValSurname}">
                                                <label for="inputName" class="col-sm-3 control-label">Primer apellido *</label>

                                                <div class="col-sm-9">
                                                    <input (keyup)="inputSurname(persona.primerApellido, 1)"  [(ngModel)]="persona.primerApellido" name="persona.primerApellido" type="text" class="form-control" id="persona.primerApellido" placeholder="">
                                                    <span *ngIf="!inputValSurname" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeFullName }}</span>
                                                </div>
                                            </div>
                                            <div [ngClass]="{'form-group': true, 'has-error': !inputValSecondSurname}">
                                                <label for="inputExperience" class="col-sm-3 control-label">Segundo apellido </label>

                                                <div class="col-sm-9">
                                                    <input (keyup)="inputSecondSurname(persona.segundoApellido, 1)"  [(ngModel)]="persona.segundoApellido" name="persona.segundoApellido" type="text" class="form-control" id="persona.segundoApellido" placeholder="">
                                                    <span *ngIf="!inputValSecondSurname" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeFullName }}</span>
                                                </div>
                                            </div>
                                            <div *ngIf="userLog.idRol == 2 || userLog.idRol == 3" [ngClass]="{'form-group': true}">
                                                <label for="inputName" class="col-sm-3 control-label">Carrera </label>
    
                                                <div class="col-sm-9 select-student">
                                                    <select [(ngModel)]="persona.idCarrera" name="persona.idCarrera" class="form-control select2" style="width: 100%;">
                                                        <option *ngFor="let carrera of carreras" [value]="carrera.idCarrera" >{{ carrera.nombreCarrera }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div *ngIf="userLog.idRol == 2 || userLog.idRol == 3" [ngClass]="{'form-group': true, 'has-error': !inputValSemester}">
                                                <label for="inputExperience" class="col-sm-3 control-label">Semestre </label>

                                                <div class="col-sm-9">
                                                    <input (keyup)="inputSemester(persona.semestre, 1)"  [(ngModel)]="persona.semestre" name="persona.semestre" type="text" class="form-control" id="persona.semestre" placeholder="">
                                                    <span *ngIf="!inputValSemester" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeSemester }}</span>
                                                </div>
                                            </div>
                                            <div [ngClass]="{'form-group': true, 'has-error': !inputValNationality}">
                                                <label for="inputEmail" class="col-sm-3 control-label">Nacionalidad *</label>
                                                <div class="col-sm-9">
                                                    <input (keyup)="inputNationality(persona.nacionalidad, 1)"  [(ngModel)]="persona.nacionalidad" name="persona.nacionalidad" type="text" class="form-control" id="persona.nacionalidad" placeholder="">
                                                    <span *ngIf="!inputValNationality" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeNationality }}</span>
                                                </div>
                                            </div>
                                            <div [ngClass]="{'form-group': true, 'has-error': !inputValBirth}">
                                                <label for="inputSkills" class="col-sm-3 control-label">Fecha de nacimiento *</label>

                                                <div class="col-sm-9">
                                                    <input (keyup)="inputBirth(persona.fechaNacimiento, 1)"  [(ngModel)]="persona.fechaNacimiento" name="persona.fechaNacimiento" type="text" class="form-control pull-right" id="persona.fechaNacimiento" placeholder="01/01/1900">
                                                    <span *ngIf="!inputValBirth" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeBirth }}</span>
                                                </div>
                                            </div>
                                            <div [ngClass]="{'form-group': true, 'has-error': !inputValAddress}">
                                                <label for="inputSkills" class="col-sm-3 control-label">Dirección *</label>

                                                <div class="col-sm-9">
                                                    <input (keyup)="inputAddress(persona.direccion, 1)"  [(ngModel)]="persona.direccion" name="persona.direccion" type="text" class="form-control" id="persona.direccion" placeholder="">
                                                    <span *ngIf="!inputValAddress" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeAddress }}</span>
                                                </div>
                                            </div>
                                            <div [ngClass]="{'form-group': true, 'has-error': !inputValCI}">
                                                <label for="inputSkills" class="col-sm-3 control-label">C.I. *</label>

                                                <div class="col-sm-9">
                                                    <input (keyup)="inputCI(persona.ci, 1)"  [(ngModel)]="persona.ci" name="persona.ci" type="text" class="form-control" id="persona.ci" placeholder="">
                                                    <span *ngIf="!inputValCI" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeCI }}</span>
                                                </div>
                                            </div>
                                            <div [ngClass]="{'form-group': true, 'has-error': !inputValMobile}">
                                                <label for="inputSkills" class="col-sm-3 control-label">Celular *</label>

                                                <div class="col-sm-9">
                                                    <input (keyup)="inputMobile(persona.celular, 1)"  [(ngModel)]="persona.celular" name="persona.celular" type="text" class="form-control" id="persona.celular" placeholder="">
                                                    <span *ngIf="!inputValMobile" class="help-block"><i class="icon fa fa-warning"></i> {{ messaggeMobile }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <figure class="figure text-center">
                                                <img src="../../../assets/img/{{imagen}}" class="figure-img img-fluid rounded img-thumbnail" alt="A generic square placeholder image with rounded corners in a figure.">
                                                <figcaption class="figure-caption text-center">Fotografia para la identifiación</figcaption>
                                                <input (change)="cargarImg($event)" type="file" id="exampleInputFile">
                                                <!-- <button type="button" class="btn btn-default btn-subir-foto">
                                                 <i class="fa fa-upload"></i> Subir fotografía</button> -->
                                            </figure>

                                        </div>
                                        <div class="col-md-12 text-center">

                                            <button type="submit" name="button" class="btn btn-primary margin">
                                                <i class="fa fa-save"></i> Guardar
                                            </button>
                                        </div>

                                    </div>
                                </form>
                            </section>
                        </div>
                        <!-- /#REGISTRAR -->
                        <!-- USUARIO -->
                        <div class="tab-pane" id="registerUsuario">
                            <section id="new">
                                <h4 class="page-header"><i class="fa fa-user"></i> Crear Usuario</h4>

                                <form (ngSubmit)="saveUser(idPeople.value, idRol.value, registroUser)" #registroUser="ngForm" name="formulario" class="form-horizontal">

                                    <div class="row form">
                                        <div class="col-md-12">

                                            <div [ngClass]="{'has-error': !inputValSelectPeople}" class="form-group col-sm-6">
                                                <label for="inputName" class="col-sm-4 control-label">Nombre completo *</label>

                                                <div (click)="selectPeople()" class="col-sm-8 select-student">
                                                  <select [(ngModel)]='idPersona' #idPeople name="idPersona" class="form-control select2" style="width: 100%;">
                                                    <option *ngFor="let persona of personas" [value]="persona.idPersona" >{{ persona.primerApellido }} {{ persona.segundoApellido | undefinedDato}} {{ persona.primerNombre }} {{ persona.segundoNombre | undefinedDato}}</option>
                                                  </select>
                                                  <span *ngIf="!inputValSelectPeople" class="help-block"><i class="icon fa fa-warning"></i> {{ messageSelectPeople }}</span>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="inputName" class="col-sm-4 control-label">Rol</label>
    
                                                <div class="col-sm-8">
                                                    <select class="form-control select2" #idRol style="width: 100%;">
                                                        <option *ngIf="userLog.idRol == 6" [value]="6">Administrador</option>
                                                        <option *ngIf="userLog.idRol == 6" [value]="1">Jefe de GTH</option>
                                                        <option *ngIf="userLog.idRol == 2 || userLog.idRol == 3" [value]="2">Jefatura de Finanzas</option>
                                                        <option *ngIf="userLog.idRol == 2 || userLog.idRol == 3" [value]="3">Finanzas</option>
                                                        <option *ngIf="userLog.idRol == 2 || userLog.idRol == 3" [value]="4">Jefe de Departamento</option>
                                                        <option *ngIf="userLog.idRol == 2 || userLog.idRol == 3" [value]="5">Estudiante</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div [ngClass]="{'has-error': !inputValUser}" class="form-group col-sm-6">
                                                <label for="inputName" class="col-sm-4 control-label">Nombre de usuario *</label>

                                                <div (click)="generateUser(idPeople.value)" class="col-sm-8">
                                                    <input (keyup)="inputUser(user.usuario, 1)" [(ngModel)]="user.usuario" name="user.usuario" type="text" class="form-control" id="user.usuario" placeholder="">
                                                    <span *ngIf="!inputValUser" class="help-block"><i class="icon fa fa-warning"></i> {{ messageUser }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">                                           

                                            <div [ngClass]="{'has-error': !inputValPassword}" class="form-group input-group-sm col-sm-6">
                                                <label for="inputName" class="col-sm-4 control-label">Contraseña *</label>

                                                <div class="col-sm-8">
                                                    <div class="input-group input-group-sm">
                                                        <input (keyup)="inputPassword1(password, 1)" [(ngModel)]="password" name="password" type="{{typePassword  ? 'text' : 'password' }}" class="form-control">                                                        
                                                        <div class="input-group-btn">
                                                            <button (click)="hidePassword()" type="button" class="btn btn-default"><i [ngClass]="{'fa':true, 'fa-eye':true}"></i></button>
                                                        </div>                                                        
                                                    </div>
                                                    <span *ngIf="!inputValPassword" class="help-block"><i class="icon fa fa-warning"></i> {{ messagePassword }}</span>                                                    
                                                </div>
                                                
                                                
                                            </div>
                                            <div [ngClass]="{'has-error': !inputValPassword2}" class="form-group has-feedback col-sm-6">
                                                <label for="inputName" class="col-sm-4 control-label">Confimar contraseña *</label>

                                                <div class="col-sm-8">
                                                    <input (keyup)="inputPassword2(passwordTwo, 1)" [(ngModel)]="passwordTwo" name="passwordTwo" type="password" class="form-control" id="passwordTwo" placeholder="">
                                                    <span *ngIf="!inputValPassword2" class="help-block"><i class="icon fa fa-warning"></i> {{ messagePassword2 }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <button type="submit" class="btn btn-primary">
                                              <i class="fa fa-save"></i> Guardar
                                            </button>
                                        </div>

                                    </div>
                                </form>

                            </section>
                        </div>
                        <!-- /#USUARIO -->
                        <div class="tab-pane" id="consumir">
                            <section id="new">
                                <div class="box-header with-border">
                                    <h4 class="page-header"><i class="fa fa-file-archive-o"></i> Buscar estudiante en el sistema académico</h4>
                                    <div class="box-tools">
                                        <div class="input-group input-group-sm" style="width: 300px;">
                                            <input (keyup)="buscarEstudianteSA(buscarCodEstudiante.value)" #buscarCodEstudiante type="text" name="table_search" class="form-control pull-right" placeholder="Buscar por número de carnet estudiantil">

                                            <div class="input-group-btn">
                                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <div *ngFor="let item of listaEstudiantesSA; let i = index">
                                        <div class="box box-primary">

                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="box-body box-profile">
                                                            <img class="profile-user-img img-responsive img-circle" src="assets/img/Jhonny.png" alt="User profile picture">
            
                                                            <h3 class="profile-username text-center">{{item.nombres}} {{item.apellidos}}</h3>
            
                                                            <p class="text-muted text-center">{{item.codEstudiante}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="box-header with-border">
                                                            <h3 class="box-title">Datos personales</h3>
                                                            <div class="box-tools">
                                                                <button (click)="agregarEstudiante(item.idEstudiante)" type="button" class="btn btn-primary" data-widget="remove">
                                                                    <i class="fa fa-plus"></i> Agregar
                                                                  </button>
                                                            </div>
            
                                                        </div>
            
                                                        <!-- /.box-header -->
                                                        <div class="box-body">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <strong><i class="fa fa-book margin-r-5"></i> Carrera</strong>
            
                                                                    <p>
                                                                        {{item.carrera}}
                                                                    </p>
                                                                    <strong><i class="fa fa-star margin-r-5"></i> Semestre</strong>
            
                                                                    <p>{{item.semestre}}</p>
                                                                    <strong><i class="fa fa-phone margin-r-5"></i> Celular</strong>
            
                                                                    <p>{{item.celular}}</p>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <strong><i class="fa fa-map-marker margin-r-5"></i> Direccion</strong>
            
                                                                    <p>{{item.direccion}}</p>
            
                                                                    <strong><i class="fa fa-flag-checkered margin-r-5"></i> Nacionalidad</strong>
            
                                                                    <p>{{item.nacionalidad}}</p>
                                                                    <strong><i class="fa fa-calendar margin-r-5"></i> Fecha de nacimiento</strong>
            
                                                                    <p>{{item.fechaNacimiento | fecha : 2}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
            
                                                <!-- /.box-body -->
                                            </div>
                                </div>
                                <button (click)="listarEstudiantesSA()" class="btn btn-default btn-block btn-flat ">Ver mas...</button>
                            </section>
                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<app-footer></app-footer> 
</div>
<div id="growls-default">
    <div [ngClass]="{'growl': true, 'growl-notice':alertSuccess, 
                    'growl-error':alertError, 
                    'growl-warning':alertWarning, 
                    'growl-large':true, 
                    'growl-outgoing':!activateAlert}">
        <div [ngClass]="{'growl-close': true, 'growl-outgoing':!activateAlert}">×</div>
        <div [ngClass]="{'growl-title': true, 'growl-outgoing':!activateAlert}">
            <i [ngClass]="{'icon': true, 'fa': true, 
            'fa-check': alertSuccess, 
            'fa-close': alertError, 
            'fa-warning': alertWarning}"></i>
            {{titleAlert}} </div>
        <div [ngClass]="{'growl-message': true,'growl-outgoing':!activateAlert}">{{messageAlert}}</div>
    </div>
</div>